/* $Id: */

div#user-alert {
	width: 100%;
	height: 35px;
	background: yellow;
	line-height: 35px;
}

div#user-alert div.user-alert-close {
	width: 15px;
	text-align: right;
	float: right;
	overflow: hidden;
	margin-right: 10px;
	text-decoration: none;
}

div#user-alert span.user-label {
	background: black;
	color: #fff;
	padding: 10px;
	font-size: 14px;
	text-transform: uppercase;
}

div#user-alert div.user-alert-message {
	width: 870px;
	overflow: hidden;
	font-weight: bold;
}

div#user-alert div.user-alert-message p {
	display: inline;
}